/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
}

.logo {
    width: 120px;
}

.nav-items > ul {
    font-size: 18px;
    display: flex;
    list-style-type: none;
    padding: 0;
}

.nav-items > ul > li {
    margin: 0 15px;
    cursor: pointer;
}

/* Body styles */
.body {
    padding: 20px;
}

/* Restaurant container and card styles */
.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Res-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
    width: 250px;
    text-align: center;
}

.Res-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.res-logo {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.Res-card h3 {
    margin: 10px 0 5px;
    font-size: 20px;
}

.Res-card h4 {
    margin: 5px 0;
    color: #010a13;
    font-size: 16px;
}

.search {
    padding: 10px 0;
}
 .filter-btn{
    margin-bottom:10px;
    cursor:pointer;
 }

 .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
  }
  
  .loading-image {
    width: 300px; /* Increased width for a larger image */
    height: auto; /* Maintain aspect ratio */
  }

  .shimmer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Similar gap as Res-card */
  }
  
  .shimmer-card {
    width: 250px; /* Same width as Res-card */
    height: 400px; /* Adjust height to match Res-card content */
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    animation: shimmer 1.5s infinite ease-in-out;
  } 
  
  .Login{
    cursor: pointer;
  }